<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <nav class="navbar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>

        <img src="https://static.cricbuzz.com/images/cb_logo.svg" alt="image-not-found">
        <ul>
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Live Score</a></li>
            <li><a routerLink="matches" routerLinkActive="active">Matches</a></li>
            <li><a routerLink="pointtable" routerLinkActive="active">Points Table</a></li>
            <li><a routerLink="ranking" routerLinkActive="active">Ranking</a></li>
            <li><a routerLink="players" routerLinkActive="active">Players</a></li>
            <li>
                <button class="btn btn-danger p-1 mb-2 Logout" *ngIf="!isLoggedIn()" (click)="login()">
                    Login
                </button>
            </li>
    
            <li>
                <button class="btn btn-danger p-1 mb-2 Logout" *ngIf="isLoggedIn()" (click)="logout()">
                    LogOut
                </button>
            </li>
            
        </ul>
    </nav>
</body>

</html>