<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <nav class="navbar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>

        <img src="https://static.cricbuzz.com/images/cb_logo.svg" alt="image-not-found">
        <ul>
            <li><a href="">Live Score </a></li>
            <li><a href="">Matches </a></li>
            <li><a href="">Points Table </a></li>
            <li><a href="">Ranking </a></li>
            <li><a href="">Players </a></li>
            <li><a href="">Login </a></li>
            <li><a href="">LogOut  </a></li>
        </ul>
    </nav>
</body>

</html>